NEXT_PUBLIC_SUPABASE_URL="https://xyyfbhwijyorjsumvcdn.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5eWZiaHdpanlvcmpzdW12Y2RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTMyODc4NjQsImV4cCI6MTk2ODg2Mzg2NH0.mB897A9BDfKBg9qqJb7lIL5pkfk89xuvskzEP8ClmWo"
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="pk.eyJ1IjoiZm9vZHBhbHMiLCJhIjoiY2w0cG9ocmk1MGIxaTNrbGhseHlrcm0zaSJ9.ksxGgo0gBr4UaudQhTKDww"